# Data Types

In Python, there're three simplest forms of data:
1. Integers:
-2, -1, 0, 1, 2, 3, 4, 5

2. Floating-point numbers:
-1.25, -1.0, --0.5, 0.0, 0.5, 1.0, 1.25

3. Strings:
'a', 'aa', 'aaa', "Hello!", '11 cats'

We mostly concern with <b>integers</b> and <b>strings</b>.

A string can be declared by a single or a double quote.

In [8]:
"a" == 'a'

True

You see that "a" and 'a' makes no difference.

Note that == is a comparison operator for checking if two objects are of equal value. While = serves an assignment function, which we discuss later on. Just remember, = and == are different!

In [9]:
'I am a cat'

'I am a cat'

In [10]:
"I'm a cat"

"I'm a cat"

From the "I'm a cat" example, you see that if you need a single quote ' inside a string, then a double quote "" is a better choice for declaring the string.

Normally for the sake of readability, we use single quote for a small symbol-like string, double quote for a natural language message.

For example:

In [11]:
{'cat': "Meow! I want food hoooooman!"}

{'cat': 'Meow! I want food hoooooman!'}

But it's a matter of personal taste, no one really cares.

## String Manupulation

You can combine/concatenate two strings using a + sign.

In [12]:
'2C' + 'Exam'

'2CExam'

You can also make a string repeat itself by using *

In [13]:
'2CExam ' * 5

'2CExam 2CExam 2CExam 2CExam 2CExam '

However you cannot add a string to other data types like integer.

In [14]:
'2CExam' + 1

TypeError: can only concatenate str (not "int") to str

Very often you scrape some numbers that are in string format. You should convert the number to integer by using:

In [15]:
int('256')

256

Note that
```Python
int()
```
is a function.

In [16]:
type(int('256'))

int

We can see that '256' is successfully converted to int.

Similary, you can convert an int to a string:

In [17]:
str(256)

'256'

In [18]:
type(str(256))

str

# Variable Declaration

A variable is like a box holding an object inside. Each box has its own name. See the examples below:

In [19]:
animal = "Cat"
name = "Cute"
age = 10

Here, animal holds the value of "cat", whereas age holds a value of an integer 10.

You can do operations with between variables with compatible data types. For example:

In [20]:
name + animal

'CuteCat'

Variable name obeys three basic rules:

1. It can be only one word.

2. It can use only letters, numbers, and the underscore (_) character.

3. It canâ€™t begin with a number.

See the following counter examples:

In [21]:
ab cd = 3

SyntaxError: invalid syntax (<ipython-input-21-e7570e83ce90>, line 1)

In [22]:
ab$_cd3 = 3

SyntaxError: invalid syntax (<ipython-input-22-a5eaf1cb570a>, line 1)

In [23]:
34_abcd = 3

SyntaxError: invalid token (<ipython-input-23-bbdbbf7db236>, line 1)

# List

A list is a value that contains multiple values in an ordered sequence.

It is declared by a pair of square brackets [], and each item are seperated by a comma.

The items can of any valid data types within Python:

In [24]:
[1, 2, 3]

[1, 2, 3]

In [25]:
['shrimp', 'scallop', 'tofu']

['shrimp', 'scallop', 'tofu']

Items in the same list does not have to share the same data type. For example:

In [26]:
['cat', True, False, 256, 1.618]

['cat', True, False, 256, 1.618]

In [27]:
ingredients = ['shrimp', 'scallop', 'tofu']

ingredients

['shrimp', 'scallop', 'tofu']

Here ingredients is a <b>reference</b> to the list of items: ['shrimp', 'scallop', 'tofu'].

We can retrieve each item inside a list by using []. For example:

In [28]:
ingredients[0]

'shrimp'

The number inside [] is called <b>index</b>. Index in Python always starts with 0.

If the index exeeds the range, we will face error:

In [29]:
ingredients[4]

IndexError: list index out of range

An index can also be <b>negative</b>.

The integer value -1 refers to the last index in a list, the value -2 refers to the second-to-last index in a list, and so on.

In [30]:
ingredients[-1]

'tofu'

In [31]:
ingredients[-2]

'scallop'

In [32]:
ingredients[-3]

'shrimp'

We can also change the value of an item inside a list.

Simply use the assignment symbol "=".

In [33]:
ingredients[2] = 'soy sauce'
ingredients[2]

'soy sauce'

Similar to string, lists are combined and repeated using + and * respectively.

In [34]:
ingredients = ingredients + ['garlic', 'chilli', 'glass noodles']
ingredients

['shrimp', 'scallop', 'soy sauce', 'garlic', 'chilli', 'glass noodles']

You see that the second list is added to the end of ingredients. This is because list is an <b>ordered</b> set of items.

In [35]:
ingredients * 2

['shrimp',
 'scallop',
 'soy sauce',
 'garlic',
 'chilli',
 'glass noodles',
 'shrimp',
 'scallop',
 'soy sauce',
 'garlic',
 'chilli',
 'glass noodles']

Lastly, we learn how to extract a sublist from a list. This technique is called <b>slicing</b>.

In [36]:
search_engines = ['Google', 'Bing', 'Yahoo', 'Baidu']

search_engines[0:2]

['Google', 'Bing']

In a slice, the first integer is the index where the slice starts. 

The second integer is the index where the slice ends. 

A slice goes up to, but will not include, the value at the second index.

That is:

slice[start(included):end(excluded)].

How would you get the last two items using slicing?

In [37]:
search_engines[2:4]

['Yahoo', 'Baidu']

How about using negative index?

In [38]:
search_engines[-2:]

['Yahoo', 'Baidu']

Don't worry if you don't understand the last solution.

You see that [-2] represents 'Yahoo', but what's wrong with the blank space afterwards? Can't we use [0]?

In [39]:
search_engines[-2:0]

[]

Actually, [0] also represents the first item in the list. Therefore if the receding index of : is left blank, then Python will extract the whole list all the way to the end.

Similarly, for slicing begins with no index:

In [40]:
search_engines[:2]

['Google', 'Bing']

We get a sublist from the first item to the second item.

In [41]:
search_engines[:]

['Google', 'Bing', 'Yahoo', 'Baidu']

That's it for this tutorial! I hope you enjoy Python and learning with Jupyter notebook =]